[Unit]
Description=ACME XML-RPC Service
After=network.target
After=systemd-modules.service

[Service]
Type=simple
User=root
ExecStart=@BINDIR@/pyacmed

[Install]
WantedBy=multi-user.target
