[Unit]
Description=ACME XML-RPC Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/pyacmed

[Install]
WantedBy=multi-user.target
